<html lang="">
<head>
    <title>Page d'envoi de fichiers</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">IABD_VILLACOUBLAY - Signature Electronique de Documents</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item">
                    <a rel="noopener" class="nav-link" href="/"><i class="fa fa-github"></i> Envoi de fichiers</a>
                </li>
                <li class="nav-item">
                    <a rel="noopener" class="nav-link" href="/check"><i class="fa fa-twitter"></i> Vérification de fichiers</a>
                </li>
                <li class="nav-item">
                    <a rel="noopener" class="nav-link" href="https://twitter.com/bootswatch"><i class="fa fa-twitter"></i> Consulter la blockchain</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row pt-5">
        <div class="col-12">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Résultat !</div>
                    <div class="card-body">
                        <h4 class="card-title">Nous avons vérifié votre fichier ! 😎</h4>
                        <p class="card-text">
                            A l'issu de la vérification de votre fichier, nous pouvons affirmer que le fichier <b><%= msg %></b>.
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>


</body>
</html>