<html>
<body>
<form ref='uploadForm'
      id='uploadForm'
      action='http://localhost:8080/verify'
      method='post'
      encType="multipart/form-data">
  <input type="file" name="sampleFile" />
  <input type="text" name="clePublique" />
  <input type='submit' value='Upload!' />
</form>
</body>
</html>
